---
page_title: "Provider: Raito"
subcategory: ""
description: |-
    Provider used to initialize resources on Raito Cloud
---

# Raito Cloud Provider

Use the Raito Cloud provider to interact with the resources supported by [Raito Cloud](https://www.raito.io/).
You must configure the provider with the proper credentials before you can use it.

To learn more about Raito, you can visit the Raito documentation on [https://docs.raito.io/](https://docs.raito.io/).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown }}

## Authorisation and Authentication
This provider requires a valid Raito user to authenticate and interact with the platform.

### User Roles
In addition to having a valid user account, specific roles are necessary to perform certain actions with the provider:

* `Admin`: Required for managing **DataSources**, **IdentityStores**, and **Users**. This role allows for creating, reading, updating, and deleting these resources.
* `Access Manager, Access Creator, Integrator`: Required for managing **Grants**, **Masks**, **Filters**, and **Purposes**. These roles allow for creating, reading, updating, and deleting these resources.

Please consult the Raito documentation for more information on user roles and permissions: [https://docs.raito.io/](https://docs.raito.io/docs/cloud/admin/user_management)