---
page_title: "Provider: Raito"
subcategory: ""
description: |-
    Provider used to initialize resources on Raito Cloud
---

# Raito Cloud Provider

Use the Raito Cloud provider to interact with the resources supported by [Raito Cloud](https://www.raito.io/).
You must configure the provider with the proper credentials before you can use it.

To learn more about Raito, you can visit the Raito documentation on [https://docs.raito.io/](https://docs.raito.io/).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown }}